@model TeamsListViewModel
@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" asp-for="SearchTerm" class="form-control form-control-lg" placeholder="Search team name" />
            <span>
                <button class="btn btn-light btn-lg">
                    <i class="bi bi-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<ul class="list-group">
    <li class="list-group-item list-group-item-action active" aria-current="true">
        Names
    </li>
    @foreach (var team in Model.Teams)
    {
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a asp-action="Details" asp-route-teamId="@team.TeamId" class="text-reset">
                @team.Name
            </a>
            <span>
                <a class="btn btn-lg" asp-controller="Teams" asp-action="Edit" asp-route-divisionId="@team.TeamId">
                    <i class="bi bi-pen-fill"></i>
                </a>
                <a class="btn btn-lg" data-toggle="modal" data-target="#deleteModal" data-repo="Teams" data-primarykey="teamId" data-name="@team.Name" data-id="@team.DivisionId">
                    <i class="bi bi-archive-fill"></i>
                </a>
            </span>
        </li>
    }
</ul>
<partial name="_DeleteModal" />
<br />
<a asp-action="Edit" class="btn btn-primary">Add New</a>
